
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border {
    min-width: 400px;
    border: 3px double #333;
    padding: 12px;
    position: relative;
}
/*.border {
    min-width: 300px;
    border: 3px solid #333;
    padding: 15px;
    position: relative;
}*/

main {
    justify-content: center;
    margin: 70px 400px 100px 400px;
}
.auth__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-form {
    height: 2.3rem;
    width: 6rem;
    color: #ff0000;
    /*background-color: rgb(254, 44, 85);*/
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}
section .noi-dung .form h2 {
    color: #6b6565;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}

section .noi-dung .form .input-form {
    margin-bottom: 20px;
}

    section .noi-dung .form .input-form span {
        font-size: 16px;
        margin-bottom: 5px;
        display: inline-block;
        color: #607db8;
        letter-spacing: 1px;
    }

    section .noi-dung .form .input-form input {
        width: 100%;
        padding: 10px 20px;
        outline: none;
        border: 1px solid #607d8b;
        font-size: 16px;
        letter-spacing: 1px;
        background: transparent;
        border-radius: 30px;
    }

        section .noi-dung .form .input-form input[type="submit"] {
            background: #ff4584;
            color: #fff;
            outline: none;
            border: none;
            font-weight: 500;
            cursor: pointer;
        }

            section .noi-dung .form .input-form input[type="submit"]:hover {
                background: #f53677;
            }

section .noi-dung .form {
    margin-bottom: 10px;
    color: #607d8b;
    font-size: 14px;
}

    section .noi-dung .form .input-form {
        color: #ff4584;
    }
