body {
}
.user-account {
   
}
.right-user {
    border-left: 3px solid black;
    margin-left: 10px;
    flex: 0.65;
    overflow-y: scroll;
}
.username {
    padding-top: 500px;
    padding-left: 50px;
}